body{
	background-image: url("https://www.washingtonpost.com/resizer/i8G4RPkkviBIwmuSRDT_7WHLtOE=/767x0/smart/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/6XCFWNCV3EI6TKUDKBHQQ27V2Y.jpg");
background-size: 1500px 1500px;
background-repeat: no-repeat;
}
.main-h{
	color: blue;
 margin: center;
}

.main-p{
color: red;
text-align: center;
}

.main-title{
	color: blue;
	text-align: center;
	text-decoration: underline;
}
.starter{
	text-align: center;
	color: red;
	text-decoration: underline;
}
.Nba-p{
	color: rgb(128,0,128);

}

.Nba-h{
color: rgb(0,0,255);
} 


.Nba-h{
	color: rgb(0,0,255);
}
