body{
	background-image: url("https://www.washingtonpost.com/resizer/i8G4RPkkviBIwmuSRDT_7WHLtOE=/767x0/smart/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/6XCFWNCV3EI6TKUDKBHQQ27V2Y.jpg");
background-size: 1500px 1500px;
background-repeat: no-repeat;
}
.main-h{
	color: blue;
 margin: center;
}

.main-p{
color: red;
text-align: center;
}

.main-title{
	color: blue;
	text-align: center;
	text-decoration: underline;
}
.starter{
	text-align: center;
	color: red;
	text-decoration: underline;
}
.Nba-p{
	color: rgb(128,0,128);

}

.Nba-h{
	color: rgb(0,0,255);
}

.kid-h{
	color: blue;
}
.kid-u{
	color: pink;
}
* {
  font-family: sans-serif; /* Change your font family */
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
